<h1 class='bg-dark text-light text-center'>Companies Info</h1>

<%= form_tag root_path , :method => 'POST' do %>
    <%= text_field_tag 'ticker', nil, placeholder: 'Enter Ticker Symbol', size: 50 %>
    <%= submit_tag 'Lookup', class:'btn btn-secondary' %>
<% end %>

<% if @stock %>
    <h3> <%= @stock.company_name %> </h3>
<% elsif @nothing%>
    <div class='alert alert-warning alert-dismissible fade show' role="alert">  
     <%= @nothing %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>

<% if @error%>
    <div class='alert alert-warning alert-dismissible fade show' role="alert"> 
     <%= @error %> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>