<h1 class='bg-dark text-light text-center'>Companies Info</h1>

<%= form_tag root_path , :method => 'POST' do %>
    <%= text_field_tag 'ticker', nil, placeholder: 'Enter Ticker Symbol', size: 50 %>
    <%= submit_tag 'Lookup', class:'btn btn-secondary' %>
<% end %>

<% if @stock %>
    <h3> <%= @stock.company_name %> </h3>
<% elsif @nothing%>
    <p class='alert alert-warning'> <%= @nothing %> </p>
<% end %>

<% if @error%>
    <p class='alert alert-warning'> <%= @error %> </p>
<% end %>